.card {
  display: flex;
  margin-top: 30px;
  width: 100%;
  max-width: $mobile-container;
  @media (min-width: 770px) {
    flex-flow: column;
    width: 200px;
    margin: 40px 2px 0 2px;
  }

  &__img {
    width: 169px;
    height: 129px;
    margin-right: 23px;
    @media (min-width: 770px) {
      width: 200px;
      height: 150px;
      margin-bottom: 14px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    font-size: 0.875rem;
    margin-bottom: 8px;
  }

  &__description {
    display: none;
    font-size: 0.75rem;
    @media (min-width: 770px) {
      display: block;
    }
  }

  &__current-price {
    font-weight: bold;
  }

  &__old-price {
    font-size: 0.75rem;
  }

  &__installment-price {
    font-size: 0.75rem;
  }

  .btn {
    margin-top: 6px;
  }

  p {
    margin: 4px 0;
  }
}
