.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: $layout-color;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
