.header {
  position: relative;
  background-color: #fff;
  background-color: $layout-color;
  padding: 0 16px;
  height: 400px;

  &__wrapper {
    max-width: $mobile-container;
    margin: 0 auto;
    @media (min-width: 770px) {
      max-width: $desktop-container;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 133px;
    background: linear-gradient(to top right, #fff calc(50% - 1px), $layout-color 50%);
  }

  &__title {
    color: $font-color1;
    background-color: transparent;
    font-size: 1.25rem;
    padding-top: 66px;
    @media (min-width: 770px) {
      text-align: center;
    }
  }

  &__bold-title {
    color: $font-color1;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__subtitle {
    background-color: transparent;
    color: $font-color1;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 56px;
    @media (min-width: 770px) {
      text-align: center;
      margin: 24px 0 50px 0;
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__row {
    display: flex;
    margin-bottom: 20px;
  }

  &__row .btn {
    margin: 0 10px;
  }
}
