.products-section {
  @include center;
  flex-flow: column;
  padding: 0 16px;
  position: relative;

  &__wrapper {
    @include center;
    flex-direction: column;
    border-top: 1px solid $layout-color;
    max-width: $desktop-container;
    width: 100%;
    @media (min-width: 770px) {
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 20px;
    }
    @media (min-width: 850px) {
      justify-content: space-between;
    }
  }

  &__title {
    position: absolute;
    top: -12px;
    font-size: 1.125rem;
    font-weight: bold;
    width: 215px;
    height: 40px;
    background-color: #fff;
    text-align: center;
  }

  & > .btn {
    margin-top: 53px;
  }
}
