.register-section {
  padding: 0 16px;
  margin: 29px auto 0 auto;
  max-width: $mobile-max-width;

  &__title {
    font-size: 1.25rem;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 30px 0 90px 0;
  }

  &__form .btn {
    margin-top: 20px;
  }

  .radio {
    margin-right: 40px;
  }
}
